@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$font1: 'Roboto', sans-serif;

$primary: #099c5f;
$secondary: #25b7c4;
$third: red;

$white: #fff;
$whiteA: rgba(255,255,255,0);
$whiteB: rgba(255,255,255,.1);
$whiteC: rgba(255,255,255,.2);
$black: #000;

$sizeSM: 580px;
$sizeMD: 992px;