@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$font1: 'Roboto', sans-serif;

$primary: #25c481;
$secondary: #25b7c4;
$white: #fff;
$whiteA: rgba(255,255,255,0);
$whiteB: rgba(255,255,255,.2);
$whiteC: rgba(255,255,255,.4);

$sizeSM: 640px;